#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #dbe1ff;
    background-color: #f4f6ff;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 10px;
  transition:  0.3s ease;
}

.menu-btn:hover {
  background: #f0f0f0;
}

.dots {
  color: #333;
}

.menu {
  background: white;
  border: 1px solid #dbe1ff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  animation: slideDown 0.2s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu button {
  display: block;
  width: 100%;
  padding: 10px 16px;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s ease;
}

.menu button:hover {
  background-color: #f4f6ff;
}

.menu button:active {
  background-color: #e6ecff;
}


